footer.footer.row
    .footer-top.row(style="padding-top: 40px;padding-bottom: 40px;")
        .container
            .row
                .col-md-4.col-sm-6.col-12(style="text-align:center;")
                        h5 LOCATION
                        p 3481 Melrose Place <br /> Beverly Hills, CA 90210
                .col-md-4.col-sm-6.col-12(style="text-align:center;")
                        h5 SHARE WITH LOVE
                        ul(style="display: inline-flex;")
                          li
                            a(href="#") 
                                span.fa.fa-facebook
                          li
                            a(href="#") 
                                span.fa.fa-twitter
                          li
                            a(href="#") 
                                span.fa.fa-linkedin
                          li
                            a(href="#") 
                                span.fa.fa-google-plus
                .col-md-4.col-sm-6.col-12
                        h5 ABOUT ACTIVEBOX
                        p Cras justo odio, dapibus ac facilisis in, egestas eget                                        quam. Donec ullamcorper nulla non metus auctor fringilla.
    .footer-bottom.row
        .container
            .row(style="justify-content:center;")
                p Copyright © 2015 ActiveBox. All Rights Reserved<br/> Made with  by Kamal Chaneman