header.header.row(style="padding-bottom:141px;")
    .header-top.row 
        .container(style="border-bottom: 1px solid rgba(255, 255, 255, 0.15);width:89%;padding:0;")
             nav.navbar.navbar-toggleable-sm.navbar-light#main-nav
                button.navbar-toggler.navbar-toggler-right#btn_menu_sm(type="button" data-toggle="collapse" data-     target="")
                            span.fa.fa-bars(style="font-size:22px;")
                .logo(style="float:left;")
                   img(src="../img/logo.png")
                .nav-menu.col-lg-10.collapse.navbar-collapse.justify-content-end
                    ul
                      li
                        a(href="#") Features
                      li
                        a(href="#") Works
                      li
                        a(href="#") Our team
                      li
                        a(href="#") Testimonials
                      li
                        a(href="#") Download
    .header-bottom.row
            .container(style="padding-top:151px;text-align:center;")
                h1.title  YOUR FAVORITE ONE PAGE MULTI PURPOSE TEMPLATE
                p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna vel                           scelerisque nisl consectetur et. 
                a.btn-find(href="#") FIND OUT MORE
                