.slider.row
    .swiper-container#swiper-container
            .swiper-wrapper
                .swiper-slide.slide-wrapper
                    .col-md-6.col-12(style="padding:0;")
                            img(src="../img/testimonial-1.jpg" width="100%" height="auto")
                    .col-md-6.col-12(style="text-align:center;padding-top: 83px;")
                            p.title "Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam..."
                .swiper-slide.slide-wrapper
                    .col-md-6.col-12(style="padding:0;")
                            img(src="../img/testimonial-2.jpg" width="100%" height="auto")
                    .col-md-6.col-12(style="text-align:center;padding-top: 83px;")
                            p.title "Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam..."
            .swiper-pagination                  