.slider.row
    #swiper-container(style="width:100%;")
            .swiper-wrapper(style="height:92%;")
                .swiper-slide.slide-wrapper
                   .col-lg-6.col-md-8(style="padding:0;")
                       img(src="../img/testimonial-1.jpg" width="100%" height="100%")
                   .col-lg-6.col-md-8(style="padding:0;text-align: center;padding-top: 67px;")
                       p.just-text "Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam..."
                .swiper-slide.slide-wrapper
                   .col-lg-6.col-md-8(style="padding:0;")
                       img(src="../img/testimonial-2.jpg" width="100%" height="100%")
                   .col-lg-6.col-md-8(style="padding:0;text-align: center;padding-top: 67px;")
                       p.just-text "Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam..."      
            .swiper-pagination                  