.teams.row
    .container(style="padding:0;width:89%;")
        .row
            .col-md-3.col-sm-6.col-12
                .persone
                    img(src="../img/teams/team-1.jpg" width="100%" height="auto")
                    .persone-content
                        h4 Ruth Wood
                        h5 Founder, CEO
                        p.just-text Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.s
                ul
                  li
                    a(href="#") 
                        span.fa.fa-facebook
                  li
                    a(href="#") 
                        span.fa.fa-twitter
                  li
                    a(href="#") 
                        span.fa.fa-linkedin
                  li
                    a(href="#") 
                        span.fa.fa-google-plus
                  li
                    a(href="#") 
                        span.fa.fa-dribbble
            .col-md-3.col-sm-6.col-12
                .persone
                    img(src="../img/teams/team-2.jpg" width="100%" height="auto")
                    .persone-content
                        h4 Timothy Reed
                        h5 CO-FOUNDER, DEVELOPER
                        p.just-text Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.s
                ul
                  li
                    a(href="#") 
                        span.fa.fa-facebook
                  li
                    a(href="#") 
                        span.fa.fa-twitter
                  li
                    a(href="#") 
                        span.fa.fa-linkedin
                  li
                    a(href="#") 
                        span.fa.fa-google-plus
                  li
                    a(href="#") 
                        span.fa.fa-dribbble            
            .col-md-3.col-sm-6.col-12
                .persone
                    img(src="../img/teams/team-3.jpg" width="100%" height="auto")
                    .persone-content
                        h4 Victoria Valdez
                        h5 UI DESIGNER
                        p.just-text Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.s
                ul
                  li
                    a(href="#") 
                        span.fa.fa-facebook
                  li
                    a(href="#") 
                        span.fa.fa-twitter
                  li
                    a(href="#") 
                        span.fa.fa-linkedin
                  li
                    a(href="#") 
                        span.fa.fa-google-plus
                  li
                    a(href="#") 
                        span.fa.fa-dribbble
            .col-md-3.col-sm-6.col-12
                .persone
                    img(src="../img/teams/team-4.jpg" width="100%" height="auto")
                    .persone-content
                        h4 Beverly Little
                        h5 DATA SCIENTIST
                        p.just-text Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.s
                ul
                  li
                    a(href="#") 
                        span.fa.fa-facebook
                  li
                    a(href="#") 
                        span.fa.fa-twitter
                  li
                    a(href="#") 
                        span.fa.fa-linkedin
                  li
                    a(href="#") 
                        span.fa.fa-google-plus
                  li
                    a(href="#") 
                        span.fa.fa-dribbble                