.works.row
    .row
        .col-md-3.col-sm-6.col-12.work-block
            a.work-box(href="#")    
               img(src="../img/work/work-1.jpg"  )
               .overlay
                    .overlay-caption
                        h1 Project name
                        p Web Design
        .col-md-3.col-sm-6.col-12.work-block
             a.work-box(href="#")    
               img(src="../img/work/work-2.jpg"  )
               .overlay
                    .overlay-caption
                        h1 Project name
                        p Web Design
        .col-md-3.col-sm-6.col-12.work-block
             a.work-box(href="#")    
               img(src="../img/work/work-3.jpg"  )
               .overlay
                    .overlay-caption
                        h1 Project name
                        p Web Design
        .col-md-3.col-sm-6.col-12.work-block
             a.work-box(href="#")    
               img(src="../img/work/work-1.jpg"  )
               .overlay
                    .overlay-caption
                        h1 Project name
                        p Web Design
        .col-md-3.col-sm-6.col-12.work-block
            a.work-box(href="#")    
               img(src="../img/work/work-3.jpg"  )
               .overlay
                    .overlay-caption
                        h1 Project name
                        p Web Design
        .col-md-3.col-sm-6.col-12.work-block
           a.work-box(href="#")    
               img(src="../img/work/work-1.jpg"  )
               .overlay
                    .overlay-caption
                        h1 Project name
                        p Web Design
        .col-md-3.col-sm-6.col-12.work-block
           a.work-box(href="#")    
               img(src="../img/work/work-2.jpg"  )
               .overlay
                    .overlay-caption
                        h1 Project name
                        p Web Design
        .col-md-3.col-sm-6.col-12.work-block
            a.work-box(href="#")    
               img(src="../img/work/work-3.jpg"  )
               .overlay
                    .overlay-caption
                        h1 Project name
                        p Web Design